:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --common-color: #ff0000;
}

::selection {
    background: var(--primary-color);
    color: var(--common-color);
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'DM Sans';
}

.owl-nav {
    display: none;
}

.owl-img>img {
    width: 80px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lovelo', sans-serif;
}

h1 {
    color: var(--common-color);
}

h1>strong {
    color: var(--common-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

button,
a {
    color: var(--secondary-color) !important;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

a:hover {
    color: var(--common-color);
}

.mt-100 {
    margin-top: 200px;
}

.pl-4 {
    padding-left: 0.75rem;
}

.mb-10 {
    margin-bottom: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
    -webkit-text-fill-color: var(--secondary-color) !important;
}

.btn-1 {
    background: var(--common-color);
    color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.btn-1:hover {
    background: #e0242f;
    color: var(--secondary-color);
}

p {
    margin-bottom: 2rem;
}

/* Navbar */
nav.navbar {
    background: var(--primary-color);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 72px;
}

.navbar-nav {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

nav.fixed-top .navbar-toggler span {
    color: var(--secondary-color);
    font-size: 15px;
}

nav.navbar .nav-item {
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    color: var(--primary-color);
    text-transform: uppercase;
}

nav.navbar .nav-item .nav-link {
    color: var(--secondary-color);
    position: relative;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    text-transform: none;
    font-size: 15px;
}

nav.fixed-top {
    position: fixed;
    background: var(--primary-color) none repeat scroll 0 0;
    box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.1);
}

nav.fixed-top .nav-item .nav-link.active {
    color: var(--common-color);
}

.navbar-toggler-icon {
    background-image: url(../images/nav-icon.svg);
    width: 20px;
}

.navbar-collapse {
    background: #000;
}

@media only screen and (max-width: 480px) {
    nav.navbar {
        height: 60px;
    }
}

/* hero */

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content h1 {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.375rem;
    letter-spacing: -.02em;
}

.hero-content p {
    color: #E6E6E6;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.02em;
    margin-top: 19.5px;
}

@media only screen and (max-width: 480px) {
    .hero-content-box {
        width: 90%;
        max-width: 335px;
        margin: 0 auto;
        padding: 0;
    }

    .hero-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .hero-content p {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .hero-content .btn-1 {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (min-width: 480px) and (max-width: 770px) {
    .hero>.container {
        margin-top: 170px;
    }
    .hero-content-box {
        width: 90%;
        max-width: 475px;
        margin: 0 auto;
        padding: 0;
    }

    .hero-content .btn-1 {
        margin-bottom: 50px;
    }
}

/* Insights */
.insights {
    padding: 50px 6%;
}

.insight-block {
    margin-bottom: 50px;
}

.insight-block h1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.75rem;
    letter-spacing: -.02em;
}

.insight-block p {
    color: #E6E6E6;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.75rem;
    letter-spacing: -.02em;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .insight-block .underline {
        height: 4px;
        width: 140px;
        background-color: var(--common-color);
    }

    .insight-block h1 {
        font-size: 1.9em;
        line-height: 1.75rem;
    }

    .insight-block p {
        font-size: .875em;
        line-height: 1.75rem;
    }
}

@media only screen and (min-width: 768px) {
    .insights>.container>.row {
        justify-content: space-evenly;
    }

    .insight-block {
        width: 200px;
    }

    .insight-block .underline {
        height: 4px;
        width: 172px;
        background-color: var(--common-color);
    }
}

/* Work */

.work {
    padding: 70px 3%;
    margin: 0 auto;
}

.work .work-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 4rem;
    letter-spacing: -.02em;
}

.work-para {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -.02em;
    margin: 20px auto;
    color: #E6E6E6;
    margin-bottom: 50px;
}

@media only screen and (max-width: 480px) {
    .work-para {
        font-size: 20px;
        line-height: 2rem;
    }
}

/* Why */

.why {
    padding: 70px 3%;
    margin: 0 auto;
}

.why .why-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 4rem;
    letter-spacing: -.02em;
}

/* Influencer */
.influencer {
    padding: 70px 3%;
    margin: 0 auto;
}

.influencer .influencer-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.2rem;
    letter-spacing: -.02em;
    text-align: center;
}

.influencer-block p {
    font-size: 1.25rem;
    font-weight: 500;
}

.influencer-form-btn {
    display: contents;
}

.influencer-form-btn .btn-1 {
    margin-bottom: 0;
}

/* brand */

.brand {
    padding: 70px 3%;
    margin: 0 auto;
}

.brand .brand-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.2rem;
    letter-spacing: -.02em;
    text-align: center;
}

.brand-block p {
    font-size: 1.25rem;
    font-weight: 500;
}

.brand-form-btn {
    display: contents;
}

.brand-form-btn .btn-1 {
    margin-bottom: 0;
}

/* REGISTRATION MODAL Form */
#registration .modal-content {
    background: transparent !important;
    border: none !important;
}
.box {
    margin-bottom: 30px;
    background: var(--primary-color);
    box-shadow: 0px 4px 20px rgba(225, 225, 225, 0.13);
    border-radius: 8px;
}

.floating-label-group {
    position: relative;
}

#registration .btn-1 {
    margin-bottom: 0;
    margin-top: 20px;
    width: 100%;
}

.label-top {
    position: absolute;
    top: -9px;
    font-size: 12px;
    white-space: nowrap;
    background: var(--primary-color);
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: var(--common-color);
    pointer-events: none;
    margin: 0px !important;
    font-weight: bold;
}

.input-top {
    border: 1px solid var(--secondary-color) !important;
    border-radius: 10px;
    font-size: 14px;
    height: 45px;
    color: var(--secondary-color);
    background: transparent;
    margin-top: 15px;
}

.input-top:focus {
    border: 2px solid var(--common-color) !important;
    border-radius: 10px;
    font-size: 14px;
    height: 45px;
    color: var(--secondary-color);
    background: transparent;
    outline: none;
    box-shadow: none;
}

/* services */

.services {
    padding: 70px 3%;
    margin: 0 auto;
}

.services .services-heading {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.2rem;
    letter-spacing: -.02em;
    text-align: center;
}

.services-para {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -.02em;
    text-align: center;
    margin: 20px auto;
    color: #E6E6E6;
    margin-bottom: 50px;
}

.service-img img {
    max-width: 60px;
}

.service-details {
    margin-left: 20px;
}

.service-detail-heading {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.service-detail-para {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.8;
}

@media only screen and (max-width: 480px) {
    .services-para {
        font-size: 20px;
        line-height: 2rem;
    }
}

/* footer */

.footer {
    background: var(--common-color);
}

.footer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 3%;
    margin: 0 auto;
    max-width: 1300px;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.footer-links, .footer-links a {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.02em;
}

.footer-copyright {
    color: #E6E6E6;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.5rem;
    letter-spacing: -.02em;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footer-icon {
    margin: 10px 15px;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.footer-icon img {
    border: 2px solid;
    border-radius: 50%;
}

@media only screen and (min-width: 1152px) {
    .footer > .container {
        padding: 22px 6%;
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1344px) {
    .footer > .container {
        padding: 22px 10%;
        max-width: 1720px;
    }
}

@media only screen and (max-width: 960px) {
    .footer > .container {
        flex-wrap: wrap;
        order: 1;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-contents {
        justify-content: center;
        order: 3;
    }

    .footer-social {
        margin-top: 20px;
        justify-content: center;
        order: 2;
    }
}