:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --common-color: #ff0000;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
}

h1 {
    color: var(--common-color);
}

button, a {
    background: var(--common-color);
    color: var(--secondary-color);
    border: 2px solid var(--common-color);
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn-1 {
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.btn-1:hover {
    background: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--common-color);
}

p{
    margin-bottom: 2rem;
}